:root {
    --Primary: #072ac8;
    --PrimaryLight: #a2d6f9;
    --PrimaryLighter: #d1edff;
    --SecondaryLight: #fce300;
    --SecondaryDark: #ffc600;
    --NeutralLight: #f4f6fc;
    --NeutralMedium: #6b708d;
    --NeutralDark: #292e47;
    --Wrong: #b33a3a;
    --Right: #28a428;
    --White: #fff;
    --Black: #000;
    --Background: #cecfd3;
  }
  
  html,
  body {
    text-align: center;
  }
  
  * {
    margin: 0 auto;
    padding: 0;
    background: var(--Background);
    font-family: "Roboto", sans-serif;
    max-width: 1200px;
  }

  .nav-bar {
    background-color: rgb(25, 33, 41);
    padding: 14px 0;
}

.nav-bar a {
    font-size: 2em;
    text-decoration: none;
    color: white;
}

.header {
    
    position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
    padding-top: 50px;
    position: relative;
    
}


a {
  text-decoration: none;
  color: var(--NeutralMedium);
  font-weight: bold;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
  color: var(--NeutralDark);
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 20px;
  color: var(--NeutralDark);
  font-weight: normal;
  margin-bottom: 40px;
}

h4 {
  font-size: 24px;
  color: var(--NeutralDark);
}


        /*HEro*/

 .hero-content {
 text-align: left;
 margin-bottom: 50px;
}
                    
.hero-content div.hero-content-buttons {
 margin: 0;
}
                    
.hero {
 margin: 60px auto;
 max-width: 85%;
}
                    
.hero-content-buttons a:hover {
 color: var(--Primary);
 text-decoration: underline;
}
                    
.hero-content a.btn:hover {
color: var(--SecondaryDark);
text-decoration: none;
}
                    
.btn {
 background-color: var(--Primary);
 color: var(--White);
display: inline;
margin-top: 30px;
}
                    
.btn a {
 background-color: var(--Primary);
 color: var(--White);
 padding: 15px;
 font-weight: normal;
}
                    
.hero div.hero-content-buttons a {
padding: 15px;
}
                    
.hero div.hero-content-buttons a.btn {
 font-weight: normal;
}
                    
.hero-images {
 position: relative;
}
                    
.img-hero {
 width: 600px;
 max-width: 100%;
}
                    
.img-card {
 max-width: 250px;
 position: absolute;
 top: 0%;
 left: -15%;
 background-color: rgba(0, 0, 0, 0);
  display: none;
}
                    
.img-card-botton {
 top: auto;
 left: auto;
 right: -15%;
 bottom: -15%;
}