/* Estilos base */
.header {
  padding: 1rem;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  text-align: center;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem;
  margin: 20px 0px 0px;
}

/* Hide burguer menu */
.navbar-toggle {
  display: none;
  cursor: pointer;
}

/* Menu list */
.main-nav {
  display: flex;
  gap: 1rem;
  list-style: none;
}


#menuBtnDesktop {
  display: inline-block; 
}


#menuBtnBurguer {
  display: none; 
}

/* Responsive */
@media (max-width: 768px) {
  
  .navbar-toggle {
    display: block;
  }

  
  .main-nav {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-top: 1rem;
  }

  
  #chkToggle:checked ~ .navbar .main-nav {
    display: flex;
  }

  
  #menuBtnDesktop {
    display: none;
  }

  
  #menuBtnBurguer {
    display: inline-block;
  }
}

@media (min-width: 769px) {
  #menuBtnDesktop {
    display: inline-block !important; 
  }
  #menuBtnBurguer {
    display: none !important;
  } 
}
